# OS and IDE
.emacs*
*.flymake
*~
.#*
.idea
*.sublime-*

# npm
node_modules
npm-debug.log

# project-specific
tmp
test/browser/less.js
test/sourcemaps/*.map
test/sourcemaps/*.css

# grunt
.grunt

# bower
bower_components
dist/less-browser-core.js
